body {
    background-color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 4rem 20rem 4rem 23rem 4rem 3rem;
    column-gap: 3px;
    grid-auto-rows: minmax(100px, auto);
}
.wrapper div{
    align-items: center;
    display: flex;
    padding-left: 50%;
}
.one,
.two,
.three {

    background-color: greenyellow;
}

.four,
.five,
.six {
    background-color: yellow;
}

.seven,
.eight,
.nine {
    background-color: skyblue;
}

.ten,
.thirteen {
    background-color: rgb(228, 116, 228);

}

.eleven {
    background-color: blue;
}

.twelve {
    background-color: aquamarine;
}

.fourteen,
.fiveteen {
    background-color: orange;
}

.sixteen,
.seventeen,
.eighteen {
    background-color: red;
}